{% extends "header&footer.html" %}
{% block content %}

    <!-- banner section -->
    <section class="w3l-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 banner-left d-flex align-items-center pl-lg-5">
                    <div>
                        <h3 class="text-white mb-4">Welcome to Bbq@paramount <br>
                            Healthy <span class="type-js"><span class="text-js">Fresh Meals!</span></span></h3>
                        <p class="banner-text text-white">Open Everyday - <span>12pm–12am</span>
                        </p>
                        <a class="btn btn-style-white btn-style-border mt-5" href="/about/">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6 banner-right">
                    <div class="small-images">
                        <!-- <div class="ban-grid position-relative">
                            <img src="/static/images/ban4.jpg" class="img-responsive" alt="" />
                            <div class="img-ban-sec">
                                <h5>Fast Foods</h5>
                                <a href="menu/" class="btn p-0">More <i class="fa fa-angle-right ml-1"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div> -->
                        <div class="ban-grid position-relative mt-4">
                           <!--  <img src="/static/images/ban2.jpg" class="img-responsive" alt="" />
                            <div class="img-ban-sec">
                                <h5>Breakfasts</h5>
                                <a href="menu/" class="btn p-0">More <i class="fa fa-angle-right ml-1"
                                        aria-hidden="true"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->

    <!-- about section -->
    <section class="w3l-about-2 py-5">
        <div class="container py-md-5 py-4">
            <div class="row justify-content-between align-items-center pb-lg-5">
                <div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
                    <div class="image-box inverse position-relative">
                        <div class="image-box__static">
                            <img src="/static/images/profile_image.jpg" alt="" width="364" height="459">
                        </div>
                        <div class="image-box__float">
                            <img src="/media/product/eee.jpg" alt="" width="364" height="459">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-2-secs-left pl-lg-5 mt-lg-0 mt-5">
                    <h3 class="title-style mb-3">The Amazing BBQ & <br>Delicious Food</h3>
                    <p class="mt-4"></p>
                    <div class="address-sec d-flex align-items-center mt-5">
                        <i class="fa fa-map-marker mr-4" aria-hidden="true"></i>
                        <h6>Payyambalam, Kannur, <br>Kerala 670014 <br>India.</h6>
                    </div>
                     
                </div>
            </div>
        </div>
    </section>
    <!-- //about section -->

    <!-- dishes section -->
    <section class="w3l-recipes py-5">
        <div class="container py-md-5 py-4">
            <div class="row">
                <div class="col-lg-6 recipe-left mb-md-0 mb-5">
                    <div class="section-heading mb-sm-5 mb-4">
                        <h3 class="title-style mb-2 text-white">Our Dishes</h3>
                        <p class="lead text-white">
                            
                        </p>
                    </div>
                     <div class="col-lg-6 recipe-right pl-5">
                    <img src="/media/product/men.jpg" alt="" class="img-fluid img-responsive" />
                </div>

                    <!-- <div class="menu-sec mt-5 pt-md-4">
                        <div class="row border-dot no-gutters">
                            <div class="col-8 menu-item-name-home">
                                <h6>Tomato Toast Ricotta</h6>
                            </div>
                            <div class="col-4 menu-item-price-home text-right">
                                <h6>$19.50</h6>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="menu-sec mt-sm-5 mt-4">
                        <div class="row border-dot no-gutters">
                            <div class="col-8 menu-item-name-home">
                                <h6>Chicken Salad</h6>
                            </div>
                            <div class="col-4 menu-item-price-home text-right">
                                <h6>$40.50</h6>
                            </div>
                        </div> -->
                   <!--  </div>
                    <div class="menu-sec mt-sm-5 mt-4">
                        <div class="row border-dot no-gutters">
                            <div class="col-8 menu-item-name-home">
                                <h6>The Ultimate Veggie </h6>
                            </div>
                            <div class="col-4 menu-item-price-home text-right">
                                <h6>$36.50</h6>
                            </div>
                        </div>
                    </div> -->
                    <!-- <a class="btn btn-style-white btn-style-border mt-5" href="about.html">View More</a>
                </div> -->
                <div class="col-lg-6 recipe-right pl-5">
                    <img src="/media/product/menu..jpeg" alt="" class="img-fluid img-responsive" />
                </div>
                 <div class="col-lg-6 recipe-right pl-5">
                    <img src="/media/product/men.jpeg" alt="" class="img-fluid img-responsive" />
                </div>
            </div>
        </div>
    </section>
    <!-- //dishes section -->

    <!-- grids section -->
    <section class="w3l-homeblock7 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="pr-5">
                        <h3 class="title-big">WE BELIVE IN? </h3>
                        <p class="mt-4">The belief that customer satisfaction is as important as their products and services, have helped this establishment garner a vast base of customers, which continues to grow by the day.</p>
                    </div>
                    <div class="pr-5 mt-lg-5 mt-4 sec-bor">
                        <h3 class="title-big pt-lg-5 pt-4"> PAYMENT WE ACCEPT?</h3>
                        <p class="mt-4">You can make payment Via Cash, BHIM, Cash on Delivery, Credit Card, Debit Card, G Pay, IMPS, Master Card, NEFT, Paytm, PhonePe, RTGS, RuPay Card, UPI, Visa Card.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-8 image-styling-sec mt-lg-0 mt-5">
                    <img src="/media/product/BBQ.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5 text-lg-right">
                    <div class="pl-lg-5">
                        <h3 class="title-big">THE BEST PART OF BBQ@PARAMOUNT </h3>
                        <p class="mt-4">This business employs individuals that are dedicated towards their respective roles and put in a lot of effort to achieve the common vision and larger goals of the company. In the near future, this business aims to expand its line of products and services and cater to a larger client base. In Kannur, this establishment occupies a prominent location in Payyambalam.</p>
                    </div>
                    <div class="pl-lg-5 mt-lg-5 mt-4 sec-bor">
                        <h3 class="title-big pt-lg-5 pt-4"> IS HOMEDELIVERY AVAILABLE?</h3>
                        <p class="mt-4">Most restaurants provide a home delivery service or have tie-ups with various food delivery joints. You can get in touch with New Paramount Restaurant in Payyanur to know about their delivery service.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //grids section -->

    <!-- stats section -->
    <section class="w3-bottom-stats py-5">
        <div class="container py-md-5 py-4">
            <div class="row">
                <div class="col-md-7 pr-lg-5">
                    <h5 class="text-new mb-4">Hello. <br>Our structure has been present for over 36 years. <br>We
                        make
                        the best !
                    </h5>
                    <p class="mb-3">
                    <p>A unit of Bangalore Paramount, since 1971. A multi cuisine restaurant which located in the shore of Arabian Sea, serves delicious food in magical ambience. BBQ @ Paramount in Kannur provide various cuisines with an aesthetic seating arrangement and the best services. Restaurants act as great places for many situations. From team meetings to family dinners, it can help serve a wide range of audiences. Many restaurants are aware of their customer preferences, hence, you can find a wide variety of vegetarian, non-vegetarian</p>
                    <a href="about.html" class="btn btn-style-white btn-style-primary mt-lg-5 mt-4">Learn More</a>
                </div>
                <div class="col-md-5 mt-md-0 mt-5">
                    <div class="counter text-center">
                        <div class="timer count-title count-number" data-to="6370" data-speed="1500"></div>
                        <p class="count-text mt-2">happy customer's</p>
                    </div>
                    <div class="counter text-center mt-5">
                        <div class="timer count-title count-number" data-to="421" data-speed="1500"></div>
                        <p class="count-text mt-2">master chef's</p>
                    </div>
                    <div class="counter text-center mt-5">
                        <div class="timer count-title count-number" data-to="7300" data-speed="1500"></div>
                        <p class="count-text mt-2">Order's Everyday</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats section -->

    <!-- specials section -->
    <section class="w3l-portfolio-8 py-5">
        <div class="portfolio-main py-md-5 py-4">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-8">
                        <div class="section-heading mb-sm-5 mb-4">
                            <h3 class="title-style mb-2">Our Specials</h3>
                            <!-- <p class="lead">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                                eaque ipsa quae ab illo inventore.
                            </p> -->
                        </div>
                    </div>
                </div>
                <div class="row galler-top">
                    <div class="col-md-4 col-sm-6 protfolio-item hover14">
                        <a href="/menu/" data-lightbox="example-set" data-title="Branding Design">
                            <figure>
                                <img src="/media/product/NOODLES.jpg" alt="product" class="img-fluid">
                                <div class="p-4">
                                   
                                    <a href="/menu/" class="mb-5 img-title">NOODLES</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-sm-0 mt-4">
                        <a href="menu.html" data-lightbox="example-set" data-title="Gradient Website Development">
                            <figure>
                                <img src="/media/product/pasta.jpg" alt="product" class="img-fluid">
                                <div class="p-4">
                                   
                                    <a href="menu.html" class="mb-5 img-title">PASTAS</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-md-0 mt-4">
                        <a href="menu.html" data-lightbox="example-set" data-title="Design and Development">
                            <figure>
                                <img src="/media/product/BARBEQUE_Signatures.jpg" alt="product" class="img-fluid">
                                <div class="p-4">
                                    <!-- <p>Bistros</p> -->
                                    <a href="menu.html" class="mb-5 img-title">BARBEQUES</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-4">
                        <a href="menu.html" data-lightbox="example-set" data-title="Magazine Content Writing">
                            <figure>
                                <img src="/media/product/MOCKTAILS.jpg" alt="product" class="img-fluid">
                                <div class="p-4">
                                   
                                    <a href="menu.html" class="mb-5 img-title">MOCKTAILS</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-4">
                        <a href="menu.html" data-lightbox="example-set" data-title="Magazine Content Writing">
                            <figure>
                                <img src="/media/product/DUMPLINGS.jpg" alt="product" class="img-fluid">
                                <div class="p-4">
                                    
                                    <a href="menu.html" class="mb-5 img-title">DUMPLINGS</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 protfolio-item hover14 mt-4">
                        <a href="menu.html" data-lightbox="example-set" data-title="Magazine Content Writing">
                            <figure>
                                <img src="/media/product/RICE.jpg" alt="product" class="img-fluid">
                                <div class="p-4">
                                    
                                    <a href="menu.html" class="mb-5 img-title">RICE</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <a href="menu.html" class="btn btn-style-white btn-style-primary mt-lg-5 mt-2">See Our Menu</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //specials section -->

   {% endblock %}